<a href="https://colab.research.google.com/github/v7oliveira/v7oliveira/blob/main/Desafio_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])
alunos

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
1   Cátia     27    F    2.5     False
2   Denis     56    M    5.0     False
3    Beto     32    M   10.0      True
4   Bruna     42    F    8.2      True
5    Dara     21    F    7.0      True
6  Carlos     19    M    6.0     False
7   Alice     35    F    5.6     False

In [3]:
# Crie um DataFrame somente com os alunos aprovados.

selecao = alunos["Aprovado"] == True
aprovados = alunos[selecao]
aprovados

    Nome  Idade Sexo  Notas  Aprovado
0    Ary     15    M    7.5      True
3   Beto     32    M   10.0      True
4  Bruna     42    F    8.2      True
5   Dara     21    F    7.0      True

In [4]:
# Crie um DataFrame somente com as alunas aprovadas.

selecao = (alunos.Aprovado == True) & (alunos.Sexo == 'F')
aprovadas = alunos[selecao]
aprovadas

    Nome  Idade Sexo  Notas  Aprovado
4  Bruna     42    F    8.2      True
5   Dara     21    F    7.0      True

In [6]:
# Crie apenas uma visualização dos alunos com idade entre 10 e 20 anos ou com idade maior ou igual a 40 anos.

selecao = ((alunos.Idade >10) & (alunos.Idade <20)) | (alunos.Idade >= 40)
alunos[selecao]

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
2   Denis     56    M    5.0     False
4   Bruna     42    F    8.2      True
6  Carlos     19    M    6.0     False

In [11]:
# Crie um DataFrame somente com os alunos reprovados e mantenha neste DataFrame apenas as colunas Nome, Sexo e Idade, nesta ordem.

### PRIMEIRA FORMA ###

selecao = alunos['Aprovado'] == False
reprovados = alunos.loc[selecao, ['Nome', 'Sexo', 'Idade']]
reprovados

     Nome Sexo  Idade
1   Cátia    F     27
2   Denis    M     56
6  Carlos    M     19
7   Alice    F     35

In [12]:
### SEGUNDA FORMA ###

selecao = alunos['Aprovado'] == False
reprovados = alunos[['Nome', 'Sexo', 'Idade']][selecao]
reprovados

     Nome Sexo  Idade
1   Cátia    F     27
2   Denis    M     56
6  Carlos    M     19
7   Alice    F     35

In [14]:
# Crie uma visualização com os três alunos mais novos.

alunos.sort_values(by = ['Idade'], inplace = True)
alunos.iloc[:3]

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
6  Carlos     19    M    6.0     False
5    Dara     21    F    7.0      True