<a href="https://colab.research.google.com/github/v7oliveira/v7oliveira/blob/main/Pandas_Aluguel_Im%C3%B3veis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Relatório de Análise 1

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving aluguel.csv to aluguel.csv

In [ ]:
## lendo o arquivo CSV e modificando o separador


dados = pd.read_csv("aluguel.csv", sep= ";")
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [ ]:
## verificando o tipo de variável

type(dados)

pandas.core.frame.DataFrame

In [ ]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

# Informações Gerais da base de dados

In [ ]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [ ]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ["Tipos de dados"])

In [ ]:
tipos_de_dados.columns.name = 'Variáveis'
tipos_de_dados

Variáveis  Tipos de dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [ ]:
dados.shape

(32960, 9)

In [ ]:
dados.shape[0]

32960

In [ ]:
dados.shape[1]

9

In [ ]:
print('A base de dados apresenta {} registros (imóveis) e {} variáveis'.format(dados.shape[0],dados.shape[1]))

A base de dados apresenta 32960 registros (imóveis) e 9 variáveis

# Tipos de imóveis

In [ ]:
tipo_de_imovel =  dados['Tipo']

In [ ]:
## identificando cada tipo de imóvel sem dados duplicados

tipo_de_imovel.drop_duplicates()

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

In [ ]:
tipo_de_imovel.drop_duplicates(inplace = True)
tipo_de_imovel

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

# Organizando a visualização dos dados

In [ ]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)
tipo_de_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [ ]:
tipo_de_imovel.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

In [ ]:
tipo_de_imovel.shape[0]

22

In [ ]:
range(tipo_de_imovel.shape[0])

range(0, 22)

In [ ]:
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])
tipo_de_imovel

                           Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [ ]:
tipo_de_imovel.columns.name = 'id'
tipo_de_imovel

id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

## Imóveis Residenciais

In [ ]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

In [ ]:
## filtrar os dados para que apresente Imóveis com a categoria "Residenciais"

list(dados['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [ ]:
## utilizar os dados extraidos e filtrar por tipos que se encaixam em "residencial"

residencial = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa Comercial',
 'Casa de Vila']

residencial

['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa Comercial',
 'Casa de Vila']

In [ ]:
selecao = dados['Tipo'].isin(residencial)

selecao

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [ ]:
## utilizando o método de seleção de DataFrame

dados_residencial = dados[selecao]
dados_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [ ]:
list(dados_residencial['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa Comercial',
 'Casa de Vila']

In [ ]:
# comparando tamanho dos dados

dados_residencial.shape[0]

22845

In [ ]:
dados.shape[0]

32960

In [ ]:
dados_residencial.index = range(dados_residencial.shape[0])

dados_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22840,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22841,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22842,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22843,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22844,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

## Exportando dados para CSV

In [ ]:
dados_residencial.to_csv('dados_residenciais.csv')

## Seleções e frequências

In [ ]:
## fazer Upload do arquivo filtrado apenas com dados residenciais

from google.colab import files
uploaded = files.upload()

Saving dados_residenciais.csv to dados_residenciais (2).csv

In [ ]:
dados_2 = pd.read_csv("dados_residenciais.csv", sep = ",")

dados_2

,Unnamed: 0,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
22840,22840,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22841,22841,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22842,22842,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22843,22843,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22844,22844,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [ ]:
# Selecionar somente os imóveis classificados como tipo 'Apartamento'

selecao = dados_2['Tipo'] == 'Apartamento'
n1 = dados_2[selecao].shape[0]
n1

19532

In [ ]:
# Selecione os imóveis classificados com tipos 'Casa', 'Casa de condominio' e 'Casa de vila'

selecao = (dados_2['Tipo'] == 'Casa') | (dados_2['Tipo'] == 'Casa de Condomínio') | (dados_2['Tipo'] == 'Casa de Vila')

n2 = dados_2[selecao].shape[0]

n2

2212

In [ ]:
# Selecionar os imóveis com área entre 60 e 100 metros quadrados, incluindo limites

selecao = (dados_2['Area'] >= 60) & (dados_2['Area'] <=100)
n3 = dados_2[selecao].shape[0]
n3

8736

In [ ]:
# Selecionar os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00

selecao = (dados_2['Quartos'] >= 4) & (dados_2['Valor'] < 2000)
n4 = dados_2[selecao].shape[0]
n4

41

In [ ]:
print(" Nº de imóveis classificados como tipo 'Apartamento' -> {}".format(n1))
print(" Nº de imóveis classificados com tipos 'Casa', 'Casa de condominio' e 'Casa de vila' -> {}".format(n2))
print(" Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo limites -> {}".format(n3))
print(" Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}".format(n4))

 Nº de imóveis classificados como tipo 'Apartamento' -> 19532
 Nº de imóveis classificados com tipos 'Casa', 'Casa de condominio' e 'Casa de vila' -> 2212
 Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo limites -> 8736
 Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 41